In [2]:
import pandas as pd
import numpy as np
import os

In [7]:
os.listdir()

['.ipynb_checkpoints',
 'badnames.xlsx',
 'multiplehandles.xlsx',
 'singlehandles.xlsx',
 'Untitled.ipynb']

In [12]:
df= pd.read_excel('badnames.xlsx')
df.drop('Unnamed: 0', axis=1, inplace=True)
df.dropna(inplace=True)
df.drop_duplicates(inplace=True)
df.shape

(45, 3)

In [15]:
df['validated']=1
df

      GVKEY                       Company           Handle  validated
3      1661         NABORS INDUSTRIES LTD     NaborsGlobal          1
4      1794   ASHLAND GLOBAL HOLDINGS INC       AshlandInc          1
5      2504                   UNISYS CORP       unisyscorp          1
6      2574                      CSX CORP              CSX          1
7      3054       CIRCUIT CITY STORES INC      CircuitCity          1
8      4494      EXPEDITORS INTL WASH INC    EXPD_Official          1
9      4601  FEDERAL NATIONAL MORTGA ASSN        FannieMae          1
10     4605  FEDERAL REALTY INVESTMENT TR    FederalRealty          1
11     4737   FIRST HORIZON NATIONAL CORP  FirstHorizonBnk          1
12     5543                 WELLTOWER INC        Welltower          1
14     6066   INTL BUSINESS MACHINES CORP              IBM          1
15     6078     INTL FLAVORS & FRAGRANCES              IFF          1
16     7065          MARSH & MCLENNAN COS       MMC_Global          1
20     7506                     MOLEX INC  molexconnectors          1
24     8358          PARKER-HANNIFIN CORP   parkerhannifin          1
25     8463                   PENTAIR PLC          Pentair          1
28     9351                   SAFECO CORP  safecoinsurance          1
29     9445                    SCANA CORP      scanaenergy          1
31    10453                  TERADYNE INC      Teradyneinc          1
33    11220          VORNADO REALTY TRUST          vornado          1
34    11446             MEADWESTVACO CORP         westrock          1
35    11456               WEYERHAEUSER CO     Weyerhaeuser          1
37    11687       ZIONS BANCORPORATION NA     calbanktrust          1
39    12053                   EMC CORP/MA          DellEMC          1
40    12233                  GENZYME CORP    SanofiGenzyme          1
41    12950                    AIRGAS INC           airgas          1
43    13341         PROGRESSIVE CORP-OHIO      progressive          1
45    13498    CARNIVAL CORPORATION & PLC      CarnivalPLC          1
46    13721                    ZOETIS INC           Zoetis          1
47    14256     MAXIM INTEGRATED PRODUCTS  maximintegrated          1
49    14960   LABORATORY CP OF AMER HLDGS          Labcorp          1
50    16245      PEOPLE'S UNITED FINL INC    PeoplesUnited          1
52    17130    SANTANDER HOLDINGS USA INC  SantanderBankUS          1
53    17928            IQVIA HOLDINGS INC         IQVIA_US          1
54    18086              MALLINCKRODT PLC              MNK          1
63    25283                   KOHL'S CORP            Kohls          1
82    30923                TECHNIPFMC PLC       TechnipFMC          1
84    60992                 SUNEDISON INC        SunEdison          1
85    61388          EVEREST RE GROUP LTD     EverestGroup          1
88    63800       IMS HEALTH HOLDINGS INC        IMSHealth          1
89    64356                    CIENA CORP            Ciena          1
101  160256   METROPCS COMMUNICATIONS INC   MetroByTMobile          1
105  176928  BROADRIDGE FINANCIAL SOLUTNS       broadridge          1
106  177264                  COVIDIEN PLC        Medtronic          1
109  186106   MOTOROLA MOBILITY HLDGS INC             Moto          1

In [14]:
df1= pd.read_excel('singlehandles.xlsx')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429 entries, 0 to 428
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   GVKEY      429 non-null    int64
 1   Company    429 non-null    object
 2   Handle     429 non-null    object
 3   validated  429 non-null    int64
dtypes: int64(2), object(2)
memory usage: 13.5+ KB

In [17]:
df1.validated.value_counts()

1    387
0     42
Name: validated, dtype: int64

In [18]:
df1=df1[df1.validated==1]
df1.shape

(387, 4)

In [19]:
df1.drop_duplicates(inplace=True)
df1.shape

<ipython-input-19-a3540b1ae742>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop_duplicates(inplace=True)

(387, 4)

In [20]:
df2= pd.read_excel('multiplehandles.xlsx')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1131 entries, 0 to 1130
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   GVKEY       1127 non-null   float64
 1   Company     1129 non-null   object
 2   Handle      1131 non-null   object
 3   Validation  1131 non-null   int64
dtypes: float64(1), int64(1), object(2)
memory usage: 35.5+ KB

In [21]:
df2.dropna(inplace=True)
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1127 entries, 0 to 1130
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   GVKEY       1127 non-null   float64
 1   Company     1127 non-null   object
 2   Handle      1127 non-null   object
 3   Validation  1127 non-null   int64
dtypes: float64(1), int64(1), object(2)
memory usage: 44.0+ KB

In [22]:
df2.Validation.value_counts()

0    951
1    176
Name: Validation, dtype: int64

In [23]:
df2=df2[df2.Validation==1]
df2.shape

(176, 4)

In [28]:
print(df.columns)
print(df1.columns)
print(df2.columns)

Index(['GVKEY', 'Company', 'Handle', 'validated'], dtype='object')
Index(['GVKEY', 'Company', 'Handle', 'validated'], dtype='object')
Index(['GVKEY', 'Company', 'Handle', 'Validation'], dtype='object')

In [29]:
df2.rename(columns={'Validation':'validated'}, inplace=True)
df2

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

         GVKEY                     Company          Handle  validated
0       1690.0                   APPLE INC           Apple          1
6       1920.0               AVON PRODUCTS     AvonInsider          1
10      2136.0  VERIZON COMMUNICATIONS INC         Verizon          1
14      2269.0             BLOCK H & R INC         HRBlock          1
19      2312.0        ROBERT HALF INTL INC  RobertHalfTech          1
...        ...                         ...             ...        ...
1111   61676.0          CITRIX SYSTEMS INC          citrix          1
1114   63643.0  ABERCROMBIE & FITCH  -CL A     Abercrombie          1
1117   64156.0       MONSTER WORLDWIDE INC       MonsterWW          1
1125  122841.0                 RED HAT INC          RedHat          1
1128  141913.0         GLOBAL PAYMENTS INC    GlobalPayInc          1

[176 rows x 4 columns]

In [30]:
dff= pd.concat([df, df1, df2], axis=0)
dff

         GVKEY                      Company        Handle  validated
3       1661.0        NABORS INDUSTRIES LTD  NaborsGlobal          1
4       1794.0  ASHLAND GLOBAL HOLDINGS INC    AshlandInc          1
5       2504.0                  UNISYS CORP    unisyscorp          1
6       2574.0                     CSX CORP           CSX          1
7       3054.0      CIRCUIT CITY STORES INC   CircuitCity          1
...        ...                          ...           ...        ...
1111   61676.0           CITRIX SYSTEMS INC        citrix          1
1114   63643.0   ABERCROMBIE & FITCH  -CL A   Abercrombie          1
1117   64156.0        MONSTER WORLDWIDE INC     MonsterWW          1
1125  122841.0                  RED HAT INC        RedHat          1
1128  141913.0          GLOBAL PAYMENTS INC  GlobalPayInc          1

[608 rows x 4 columns]

In [31]:
dff.drop_duplicates(inplace=True)
dff

         GVKEY                      Company        Handle  validated
3       1661.0        NABORS INDUSTRIES LTD  NaborsGlobal          1
4       1794.0  ASHLAND GLOBAL HOLDINGS INC    AshlandInc          1
5       2504.0                  UNISYS CORP    unisyscorp          1
6       2574.0                     CSX CORP           CSX          1
7       3054.0      CIRCUIT CITY STORES INC   CircuitCity          1
...        ...                          ...           ...        ...
1106   60900.0            DISH NETWORK CORP          dish          1
1114   63643.0   ABERCROMBIE & FITCH  -CL A   Abercrombie          1
1117   64156.0        MONSTER WORLDWIDE INC     MonsterWW          1
1125  122841.0                  RED HAT INC        RedHat          1
1128  141913.0          GLOBAL PAYMENTS INC  GlobalPayInc          1

[526 rows x 4 columns]

In [32]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 526 entries, 3 to 1128
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   GVKEY      526 non-null    float64
 1   Company    526 non-null    object
 2   Handle     526 non-null    object
 3   validated  526 non-null    int64
dtypes: float64(1), int64(1), object(2)
memory usage: 20.5+ KB

In [33]:
dff.to_csv('Final_SnP500_companies_handles_2010to2020.csv', index=False)